html {
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.0fr;
    grid-template-rows: 0.28fr 2.0fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "menu menu menu"
        "mainInfo mainInfo loginContent"
        "footer footer footer";
    background-color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;

}

.menu {
    display: grid;
    grid-area: menu;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    grid-template-areas:
        ". left right . . .";

}

.left {
    grid-area: left;
    margin-left: 10px;
}

.right {
    grid-area: right;
}

.footer {
    grid-area: footer;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.mainInfo {
    grid-area: mainInfo;
}

.loginContent {
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.2fr 0.8fr 2.4fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". loginBlock ."
        ". regBlock ."
        ". aboutInfo .";
    grid-area: loginContent;
}

.aboutInfo {
    grid-area: aboutInfo;
}

.regBlock {
    display: grid;
    grid-template-columns: 0.3fr 2.5fr 0.2fr;
    grid-template-rows: 0.8fr 1.6fr 0.6fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". welcomeLabel ."
        ". regInfoBlock ."
        ". welcomeFotter .";
    grid-area: regBlock;
}

.welcomeLabel {
    grid-area: welcomeLabel;
}

.welcomeFotter {
    grid-area: welcomeFotter;
}

.regInfoBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.6fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "logininput"
        ".";
    grid-area: regInfoBlock;
}

.logininput {
    grid-area: logininput;
}

.loginBlock {
    display: grid;
    grid-template-columns: 0.3fr 2.5fr 0.2fr;
    grid-template-rows: 0.5fr 1.8fr 0.7fr;
    grid-auto-flow: row;
    grid-template-areas:
        ". . ."
        ". loginLabels ."
        ". . .";
    grid-area: loginBlock;

    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
}

.loginLabels {
    grid-area: loginLabels;
    display: grid;
}
.loginform{
    display: grid;
    font-size: 16px;
    gap: 18px;
    grid-template-columns: 130px 1fr;
}
label {
    grid-column: 1 / 2;
    font-weight: bold;
}
input, text {
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 2px solid #f0f0f0;
	background: white;
	border-radius: 8px;
} 
input,
button {
    grid-column: 2 / 3;
}
.input:hover{
    transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.btn {
	outline: none;
	border: 1px solid #f0f0f0;
	border-radius: 10px;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
	cursor: pointer;
	touch-action: manipulation;  
	vertical-align: top;
	transition: box-shadow 0.2s;
}
.btn:hover {
	transition: all 0.2s;
	box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
.btn:active {
	background-color: #f0f0f0;
}

html, body, .container {
    height: 100%;
    margin: 0;
}